In [1]:
import pandas as pd

In [2]:
data = [[1, 'Joe'], [2, 'Henry'], [3, 'Sam'], [4, 'Max']]
customers = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'Int64', 'name':'object'})
data = [[1, 3], [2, 1]]
orders = pd.DataFrame(data, columns=['id', 'customerId']).astype({'id':'Int64', 'customerId':'Int64'})

In [4]:
customers

   id   name
0   1    Joe
1   2  Henry
2   3    Sam
3   4    Max

In [5]:
orders

   id  customerId
0   1           3
1   2           1

In [7]:
def find_customers(customers:pd.DataFrame, orders:pd.DataFrame)->pd.DataFrame:
    """
    Find customers who have never placed an order.

    Args:
    - customers (pd.DataFrame): A DataFrame containing customer information, with columns 'id' and 'name'.
    - orders (pd.DataFrame): A DataFrame containing order information, with a column 'customerId' representing the customer ID.

    Returns:
    - df_new (pd.DataFrame): A DataFrame containing the names of customers who have never placed an order. The column name is 'Customers'.
    """

    #merging the 2 dataframes
    df_new=pd.merge(customers,orders, left_on='id', right_on='customerId')

    #find the customers that never ordered 
    df_new=df_new[df_new['customerId'].isnull()]

    #rename the column name  to customers
    return df_new[['name']].rename(columns={'name':'Customers'})