In [ ]:
'''
Table: Users

+----------------+---------+
| Column Name    | Type    |
+----------------+---------+
| user_id        | int     |
| name           | varchar |
+----------------+---------+
user_id is the primary key (column with unique values) for this table.
This table contains the ID and the name of the user. The name consists of only lowercase and uppercase characters.
 

Write a solution to fix the names so that only the first character is uppercase and the rest are lowercase.

Return the result table ordered by user_id.

The result format is in the following example.

 

Example 1:

Input: 
Users table:
+---------+-------+
| user_id | name  |
+---------+-------+
| 1       | aLice |
| 2       | bOB   |
+---------+-------+
Output: 
+---------+-------+
| user_id | name  |
+---------+-------+
| 1       | Alice |
| 2       | Bob   |
+---------+-------+
'''

## Summary
The `fix_names` function takes a pandas DataFrame as input and returns a modified DataFrame with the "name" column capitalized.

## Example Usage
```python
import pandas as pd

# Create a DataFrame
data = {"user_id": [1, 2, 3], "name": ["john doe", "jane smith", "alex brown"]}
users = pd.DataFrame(data)

# Call the fix_names function
result = fix_names(users)

print(result)
```
Output:
```
   user_id         name
0        1     John Doe
1        2  Jane Smith
2        3   Alex Brown
```

## Code Analysis
### Inputs
- `users`: a pandas DataFrame containing user information. It should have a column named "name" with the names of the users.
___
### Flow
1. Capitalize the names in the "name" column of the `users` DataFrame using the `str.title()` method.
2. Create a new DataFrame `df` with only the "user_id" and "name" columns from the modified `users` DataFrame.
3. Return the `df` DataFrame.
___
### Outputs
- `df`: a pandas DataFrame with the "user_id" and "name" columns from the input DataFrame, where the names are capitalized.
___

In [1]:
import pandas as pd

In [2]:
data = [[1, 'aLice'], [2, 'bOB']]
users = pd.DataFrame(data, columns=['user_id', 'name']).astype({'user_id':'Int64', 'name':'object'})

In [3]:
users

   user_id   name
0        1  aLice
1        2    bOB

In [4]:
def fix_names(users: pd.DataFrame) -> pd.DataFrame:
    users["name"] = users["name"].str.title()
    df = users[["user_id","name"]]
    return df